<a href="https://colab.research.google.com/github/mdp-berbagi/data-science/blob/main/1_data_operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Perhatian :** Jalankan ini terlebih dahulu untuk menjalankan catatan

In [8]:
import requests
import pandas
from lxml import objectify
from urllib.request import urlopen
import sys

# **Request HTTP**

In [3]:
result = requests.get("https://raw.githubusercontent.com/wesm/pydata-book/2nd-edition/examples/ex1.csv")
type(result)
print(result.text)

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

# **Mengolah Data dengan Panda**

Pertama pastikan kamu punya sumber data dan pastikan bisa di akses, data yang bisa di ambil oleh pandas adalah http dan local file langsung

In [12]:
source_address = "https://raw.githubusercontent.com/wesm/pydata-book/2nd-edition/examples/ex1.csv"
# source_address = "/content/my_data/ex1.csv"

Lalu kita perintah pandas untuk baca, pastikan kamu sudah mengetahui sumber datanya, untuk sekarang kita menggunakan format csv

In [10]:
data = pandas.read_csv(source_address)

print(data)         # Ambil datanya
print(data['a'])    # Akses Arraynya
print(data['a'][1]) # Akses Arraynya lebih dalam

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo
0    1
1    5
2    9
Name: a, dtype: int64
5

dan readernya punya parameter, ini contoh satu parameter `header`

In [13]:
data = pandas.read_csv(source_address, header=None);
print(data)

   0   1   2   3        4
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12      foo

parameter lainya bernama `names`

In [15]:
data = pandas.read_csv(source_address, names=['field1', '2', 'fld3', '4', 'msg']);
print(data)

  field1   2 fld3   4      msg
0      a   b    c   d  message
1      1   2    3   4    hello
2      5   6    7   8    world
3      9  10   11  12      foo

dan coba menggunakan 2 parameter, dan sekalian test parameter `index_col`

In [18]:
data = pandas.read_csv(source_address, names=['field1', '2', 'fld3', '4', 'msg'], index_col='msg');
print(data)
print("Filed Selected = " + data['fld3']['hello'])

        field1   2 fld3   4
msg
message      a   b    c   d
hello        1   2    3   4
world        5   6    7   8
foo          9  10   11  12
Filed Selected = 3

boleh juga untuk menggunakan fungsi reader lain, seperi `reader_table` dan sekalian coba parameter `sep` dengan kepanjangan `sep`nya adalah separator

In [17]:
data = pandas.read_table(source_address, sep=",");
print(data)

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

read table dipakai untuk format teks dan format gak umum lainya

In [20]:
data = pandas.read_table("https://raw.githubusercontent.com/wesm/pydata-book/2nd-edition/examples/ex3.txt", sep='\s+')
print(data)

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [ ]:
source = "https://raw.githubusercontent.com/wesm/pydata-book/2nd-edition/examples/csv_mindex.csv";
data6 = pandas.read_csv(source, index_col=['key1', 'key2'])
print(data6)
print(data6['value1']['one', 'b'])

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16
3

In [ ]:
url = 'https://raw.githubusercontent.com/wesm/pydata-book/2nd-edition/examples/ex5.csv'

print(requests.get(url).text);

csv = pandas.read_csv(url);
print(csv);

print(pandas.isnull(csv));

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo
  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo
   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

**CSV Render**

Render Parameter:

1.   Delimiter ( splitter data )
2.   Line Delimiter
3.   Qoute Chat

In [ ]:
import csv;

from io import StringIO;

url = 'https://raw.githubusercontent.com/wesm/pydata-book/2nd-edition/examples/ex7.csv';
source = requests.get(url);

csvExample = csv.reader(StringIO(source.text));
print(csvExample);

for row in csvExample:
  print("Data ");
  print(data);
  for col in row: 
    print(col);

<_csv.reader object at 0x7f802e63b9d0>
Data
['1', '2', '3']
a
b
c
Data
['1', '2', '3']
1
2
3
Data
['1', '2', '3']
1
2
3

In [ ]:
url = 'https://raw.githubusercontent.com/wesm/pydata-book/2nd-edition/examples/ex6.csv';
source = pandas.read_csv(url);
sourceJust5 = pandas.read_csv(url, nrows=5)

pandas.options.display.max_columns = 3
pandas.options.display.max_rows = 12

print(source)
print(sourceJust5)

           one  ...  key
0     0.467976  ...    L
1    -0.358893  ...    B
2    -0.501840  ...    G
3     0.204886  ...    R
4     0.354628  ...    Q
...        ...  ...  ...
9995  2.311896  ...    L
9996 -0.479893  ...    E
9997  0.523331  ...    K
9998 -0.362559  ...    G
9999 -0.096376  ...    0

[10000 rows x 5 columns]
        one  ...  key
0  0.467976  ...    L
1 -0.358893  ...    B
2 -0.501840  ...    G
3  0.204886  ...    R
4  0.354628  ...    Q

[5 rows x 5 columns]

Chucksize untuk memecah baris jadi beberapa array

In [ ]:
url = 'https://raw.githubusercontent.com/wesm/pydata-book/2nd-edition/examples/ex6.csv';
source = pandas.read_csv(url, chunksize=1000);

for stack in source:
  print(stack)

          one  ...  key
0    0.467976  ...    L
1   -0.358893  ...    B
2   -0.501840  ...    G
3    0.204886  ...    R
4    0.354628  ...    Q
..        ...  ...  ...
995  2.311896  ...    M
996 -0.479893  ...    H
997  0.523331  ...    D
998 -0.362559  ...    W
999 -0.096376  ...    K

[1000 rows x 5 columns]
           one  ...  key
1000  0.467976  ...    T
1001 -0.358893  ...    J
1002 -0.501840  ...    R
1003  0.204886  ...    S
1004  0.354628  ...    B
...        ...  ...  ...
1995  2.311896  ...    L
1996 -0.479893  ...    J
1997  0.523331  ...    V
1998 -0.362559  ...    W
1999 -0.096376  ...    D

[1000 rows x 5 columns]
           one  ...  key
2000  0.467976  ...    1
2001 -0.358893  ...    H
2002 -0.501840  ...    F
2003  0.204886  ...    L
2004  0.354628  ...    E
...        ...  ...  ...
2995  2.311896  ...    H
2996 -0.479893  ...    U
2997  0.523331  ...    A
2998 -0.362559  ...    Y
2999 -0.096376  ...    F

[1000 rows x 5 columns]
           one  ...  key
3000  0.467976  ...    H
3001 -0.358893  ...    Y
3002 -0.501840  ...    0
3003  0.204886  ...    Z
3004  0.354628  ...    U
...        ...  ...  ...
3995  2.311896  ...    W
3996 -0.479893  ...    E
3997  0.523331  ...    Q
3998 -0.362559  ...    A
3999 -0.096376  ...    M

[1000 rows x 5 columns]
           one  ...  key
4000  0.467976  ...    H
4001 -0.358893  ...    Z
4002 -0.501840  ...    2
4003  0.204886  ...    B
4004  0.354628  ...    1
...        ...  ...  ...
4995  2.311896  ...    X
4996 -0.479893  ...    M
4997  0.523331  ...    5
4998 -0.362559  ...    T
4999 -0.096376  ...    U

[1000 rows x 5 columns]
           one  ...  key
5000  0.467976  ...    1
5001 -0.358893  ...    Z
5002 -0.501840  ...    3
5003  0.204886  ...    H
5004  0.354628  ...    B
...        ...  ...  ...
5995  2.311896  ...    1
5996 -0.479893  ...    Y
5997  0.523331  ...    F
5998 -0.362559  ...    0
5999 -0.096376  ...    3

[1000 rows x 5 columns]
           one  ...  key
6000  0.467976  ...    I
6001 -0.358893  ...    X
6002 -0.501840  ...    A
6003  0.204886  ...    C
6004  0.354628  ...    S
...        ...  ...  ...
6995  2.311896  ...    P
6996 -0.479893  ...    9
6997  0.523331  ...    L
6998 -0.362559  ...    5
6999 -0.096376  ...    O

[1000 rows x 5 columns]
           one  ...  key
7000  0.467976  ...    1
7001 -0.358893  ...    I
7002 -0.501840  ...    H
7003  0.204886  ...    P
7004  0.354628  ...    D
...        ...  ...  ...
7995  2.311896  ...    A
7996 -0.479893  ...    6
7997  0.523331  ...    R
7998 -0.362559  ...    R
7999 -0.096376  ...    2

[1000 rows x 5 columns]
           one  ...  key
8000  0.467976  ...    7
8001 -0.358893  ...    W
8002 -0.501840  ...    C
8003  0.204886  ...    S
8004  0.354628  ...    H
...        ...  ...  ...
8995  2.311896  ...    W
8996 -0.479893  ...    N
8997  0.523331  ...    Q
8998 -0.362559  ...    R
8999 -0.096376  ...    M

[1000 rows x 5 columns]
           one  ...  key
9000  0.467976  ...    B
9001 -0.358893  ...    M
9002 -0.501840  ...    N
9003  0.204886  ...    N
9004  0.354628  ...    Y
...        ...  ...  ...
9995  2.311896  ...    L
9996 -0.479893  ...    E
9997  0.523331  ...    K
9998 -0.362559  ...    G
9999 -0.096376  ...    0

[1000 rows x 5 columns]

**Web Scapping Sederhana**

In [ ]:
source_url = "https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/"

pandas.options.display.max_rows = 6
pandas.read_html(source_url)

[                             Bank Name  ...       Closing Date
 0                    Almena State Bank  ...   October 23, 2020
 1           First City Bank of Florida  ...   October 16, 2020
 2                 The First State Bank  ...      April 3, 2020
 ..                                 ...  ...                ...
 560    First Alliance Bank & Trust Co.  ...   February 2, 2001
 561  National State Bank of Metropolis  ...  December 14, 2000
 562                   Bank of Honolulu  ...   October 13, 2000

 [563 rows x 6 columns]]

**Explore XML**

In [ ]:
source_url = 'https://raw.githubusercontent.com/wesm/pydata-book/2nd-edition/datasets/mta_perf/Performance_MNR.xml';

parsed =  objectify.parse(urlopen(source_url))
root = parsed.getroot()
print(root.tag)
child = root.getchildren()
print(len(child), "Rows Avaiable")

PERFORMANCE
648 Rows Avaiable

Coba di akses per-element, tergatung XMLnya

In [ ]:
data = []
for elt in root.INDICATOR:
  row = {}
  for col in elt.getchildren():
    row[col.tag] = col.text
  data.append(row)

print(type(data))
result = pandas.DataFrame(data)
print(result)

Coba Print Data Frame menjadi file yang dibutuhkan

In [ ]:
result.to_csv(sys.stdout, sep=";")

coba buat CSV dari datanya

In [ ]:
result.to_csv("my_data.csv", sep=';')
pandas.read_csv("/content/my_data.csv")

Working with Rational Database

In [ ]:
import sqlite3;

query = """
        CREATE TABLE test(a VARCHAR(20), b VARCHAR(20), c REAL, d INTERGER)
        """

db = sqlite3.connect('mydata.sqlite')
db.execute(query)
db.commit()

In [ ]:
stmt_insert = "INSERT INTO test VALUES(?,?,?,?)"
data = [
  ("Alamaut", "Mati", 1.25, 6),
  ("Talasamata", "Kaulah", 2.6, 3),
  ("Sacr", "Cali", 1.7, 5)
]

db.executemany(stmt_insert, data);
db.commit();

In [ ]:
cursor = db.execute("SELECT * FROM test")
print(cursor.fetchall())

[('Alamaut', 'Mati', 1.25, 6), ('Talasamata', 'Kaulah', 2.6, 3), ('Sacr', 'Cali', 1.7, 5)]